/*************************************************
 *  Hugo Academic: an academic theme for Hugo.
 *  Designed by @GeorgeCushen.
 *  https://github.com/gcushen/hugo-academic
 **************************************************/

/*************************************************
 *  Core
 **************************************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

html {
  font-family: '{{ .Get "body_font" }}', sans-serif;
  font-size: {{ .Get "font_size_small" }}px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}
@media screen and (min-width: 58em) {
  html {
    font-size: {{ .Get "font_size" }}px;
  }
}

body {
  font-family: inherit;
  font-size: 0.8rem;
  line-height: inherit;
  color: inherit;
  background-color: {{ .Get "background" }};
  margin-top: 71px; /* Offset body content by navbar height. */
  padding-top: 0;
  counter-reset: captions;
}
@media screen and (max-width: 1200px) { /* Match max-width of .nav-bar query. */
  body {
    margin-top: 51px; /* Offset body content by navbar height. */
  }
}

.max-width-640 {
  max-width: 640px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Navigation bar text */
.navbar-default {
  font-family: '{{ .Get "nav_font" }}', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: '{{ .Get "heading_font" }}', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

a,
h3.article-title a:hover {
  color: {{ .Get "primary" }};
  text-decoration: none;
  transition: color 0.6s ease;
}

a:hover,
a:focus {
  color: {{ .Get "primary" }};
}

img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}

video {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.img-responsive {
  /* Extend Bootstrap declaration with centering. */
  margin: 0 auto;
}

figcaption:before {
  font-weight: 700;
  text-transform: uppercase;
  content: "Figure " counter(captions) ": ";
}

figcaption {
  display: block;
  margin-top: 0.75em;
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1.65rem;
  font-family: '{{ .Get "heading_font" }}', sans-serif;
  counter-increment: captions;
}

figcaption h4 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

pre,
code {
  font-family: '{{ .Get "mono_font" }}', monospace;
  color: #c7254e;
  background-color: #f9f2f4;
}

pre {
  margin: 0 0 1rem 0;
  overflow: auto;
  background-color: rgb(248, 248, 248); /* Match default highlight theme. */
  border-color: rgb(248, 248, 248);
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

.space-below {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .space-below {
    margin-bottom: 10px;
  }
}

.universal-wrapper {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
@media only screen and (min-width: 1001px) {
  .universal-wrapper {
    width: 1000px;
  }
}

small,
.small {
  font-size: .75em;
}

/*************************************************
 *  Modals.
 **************************************************/

.modal-header .close {
  font-size: 40px; /* Bigger cross. */
  height: 30px; /* Remove icon's vertical spacing. */
  overflow-y: hidden;
  position: relative;
  top: -5px;
}

.modal-content pre {
  margin: 0;
}

#modal-error {
  color: red;
}

/*************************************************
 *  Gallery.
 **************************************************/

.gallery {
  margin: 0.5em -4px 1.5em -4px;
  font-size: 0;
}

a[data-fancybox] {
  text-decoration: none;
}

a[data-fancybox] img {
  height: 250px;
  max-width: inherit;
  display: inherit;
  margin: 0;
  padding: 4px;
  box-shadow: none;
  vertical-align: inherit;
}

.fancybox-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

/*************************************************
 *  Pager.
 **************************************************/

.post-nav {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.post-nav-item {
  hyphens: auto;
  word-wrap: break-word;
  padding: 11px 0 12px;
  width: 100%;
}

.post-nav-item a {
  color: #2b2b2b;
  line-height: 1.7;
  text-transform: none;
}

.post-nav-item .meta-nav {
  color: #767676;
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}

.dark .post-nav-item a {
  color: #ddd;
}

/*************************************************
 *  Home Sections
 **************************************************/

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-section {
  background-color: {{ .Get "home_section_odd" }};
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.home-section:nth-of-type(even) {
  background-color: {{ .Get "home_section_even" }};
}

@media screen and (max-width: 768px) {
  .home-section {
    padding: 60px 0 60px 0;
  }
  .home-section:first-of-type {
    padding-top: 40px;
  }
}

.section-heading h1 {
  margin: 0 0 10px 0;
}

.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}

/*************************************************
 *  Hero Widget
 **************************************************/

.hero-overlay {
  position: relative;
  padding: 3em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 0.3s both;
  animation-delay: 0s;
  animation-delay: 0.25s;
}

.hero-title {
  font-size: 2.7rem;
  margin-top: 0;
  line-height: 1;
}

.hero-lead {
  max-width: 768px;
  font-size: 1.35rem;
}

.hero-overlay .hero-title,
.hero-overlay .hero-lead,
.hero-overlay .btn {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.hero-overlay a {
  color: #fff;
}

.hero-overlay .hero-lead a {
  color: #fff;
  text-decoration-line: underline;
}

.hero-overlay .btn-large {
  font-size: 1.1rem;
}

/*************************************************
 *  Featurette Widget
 **************************************************/

.featurette {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
}

.featurette h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  color: #333;
}

.dark .featurette,
.dark .featurette h3 {
  color: #fff;
}

.featurette-icon {
  display: block;
  width: 100%;
  color: {{ .Get "primary" }};
  font-size: 3rem;
  text-align: center;
}

/*************************************************
 *  Biography
 **************************************************/

#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 10px 0;
}

#profile ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .network-icon li {
  margin-right: 10px;
}

#profile .network-icon li:last-of-type {
  margin-right: 0;
}

#profile .network-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0px 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}

/*************************************************
 *  Sharing
 **************************************************/

.share-box {
  float: right;
}

ul.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 5px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li .fa {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}

ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}

ul.share li:hover .fa {
  transform: scale(1.4)
}

/*************************************************
 *  Blog Articles
 **************************************************/

article {
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.article-container {
  max-width: 760px;
  padding: 1rem 20px 0 20px;
  margin: 0 auto 0 auto;
}

.article-header {
  position: relative;
  clear: both;
}

.article-banner {
  width: 100%;
  height: auto;
}

.article-header-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-size: .7em;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.65;
  border-radius: 5px 0 0 0;
}
@media (min-width: 64em) {
  .article-header-caption {
    padding: 5px 10px;
  }
}

.article-header-caption a {
  color: #fff;
  text-decoration: none;
}

.article-title {
  font-size: 1.75rem;
}

.article-title a {
  color: #151515;
  transition: color 0.6s ease;
}

.article-metadata {
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #888;
}

/* For article page only, not lists. */
article .article-metadata {
  margin-bottom: 20px;
  line-height: 30px; /* Match share bar line height. */
}

.article-metadata a {
  color: #888;
}

.article-metadata a:hover {
  color: {{ .Get "primary" }};
}

.middot-divider {
  padding-right: .45em;
  padding-left: .45em;
  font-size: 15px;
}

.middot-divider::after {
  content: '\00B7';
}

.article-style img,
.article-style video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.article-style td img,
.article-style td video {
  margin-top: 0;
  margin-bottom: 0;
}

.article-style figure {
  margin-top: 60px;
  margin-bottom: 60px;
}

.article-style figure img {
  margin-top: 0;
  margin-bottom: 0;
}

.article-widget {
  padding-top: 1rem;
}

.article-widget h3 {
  margin-top: 0;
}

.hr-light {
  border-top: 1px solid rgba(0,0,0,.05);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#comments {
  padding-top: 1rem;
}

/*************************************************
 *  Publications
 **************************************************/

.pub-icon {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.81em;
  padding-top: 6px;
}

.pub-banner {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.pub .pub-authors {
  font-style: italic;
  line-height: 30px; /* Match share bar line height. */
}

.pub .pub-row-heading {
  font-weight: bold;
}

.pub-list-item .pub-abstract {
  font-size: 1rem;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: #3170A5;
}

.pub-list-item .pub-publication {
  color: #090;
  font-size: 1rem;
}

.pub-list-item .pub-links {
  padding-top: 10px;
}

#container-publications {
  display: block;
  position: relative;
  overflow: hidden;
}

/*************************************************
 * Talks
 **************************************************/

.talk-metadata {
  color: #4b4f56;
  font-size: 0.8rem;
}

/*************************************************
 *  Projects
 **************************************************/

#projects.home-section li {
  margin-bottom: 1rem;
}

#projects.home-section li:last-of-type {
  margin-bottom: 0;
}

#projects.home-section .project-title {
  margin-bottom: 6px;
}

#projects.home-section .project-summary {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

#projects.home-section .project-tags {
  font-size: 0.75rem;
  color: #9c9c9c;
}

.projects-container {
  display: block;
  position: relative;
  /*margin-top: 5rem;*/
  overflow: hidden;
}

.project-toolbar{
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

.isotope-item {
  z-index: 2;
}

.isotope-item:hover{
  z-index: 3;
}

/*************************************************
 *  Card component
 **************************************************/

.card-simple {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
}

.card-simple:first-of-type {
  margin-top: 0;
}

.card-simple p.read-more {
  margin: 0;
}

.dark .card-simple {
  background: rgb(40, 42, 54);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgb(68, 71, 90);
}

.card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-out;
}

.card .card-image {
  display: block;
  position: relative;
  min-height: 100px;
}

.card h4 {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.card h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.card h4 a:hover {
  color: #000;
  border-bottom: solid 1px #000;
  text-decoration: none;
}

.card .card-text {
  padding: 0.75rem 1rem 0.75rem;
}

.card .card-text p {
  color: #999999;
  font-size: 0.75rem;
}

.card p:last-child {
  margin-bottom: 0;
}

.card .card-image.hover-overlay:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: " ";
  opacity: 0;
  transition: all 0.2s ease-out;
}

.card .card-image.hover-overlay:after {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
  font-family: 'FontAwesome';
  content: '\f0c1';
  text-align: center;
  font-size: 3rem;
  color: #666;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover .card-image.hover-overlay:before {
  opacity: 0.8;
}

.card:hover .card-image.hover-overlay:after {
  opacity: 0.6;
}

/*************************************************
 *  Contact
 **************************************************/

#contact.home-section .fa-ul {
  margin-left: 3.14285714rem; /* Must be > `fa-2x` icon size. */
}

#contact.home-section .fa-li {
  position: absolute;
  left: -3.14285714rem; /* Negative of `#contact.home-section .fa-ul` margin. */
  width: 2rem; /* Match `fa-2x` icon size. */
  top: 0.14285714em; /* Default FA value. */
  text-align: center;
}

#contact.home-section li {
  padding-top: 0.8rem; /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem;
}

#contact.home-section li:last-of-type {
  margin-bottom: 0;
}

#map {
  height: 350px;
  width: 100%;
}

/*************************************************
 *  Footer
 **************************************************/

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

.site-footer,
footer a#back_to_top i {
  color: #899596;
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

.btn-primary {
  border-color: {{ .Get "primary" }} !important;
  background: {{ .Get "primary" }} !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.open > .dropdown-toggle.btn-primary {
  background: {{ .Get "primary" }} !important;
}

.btn-light {
  border-color: #fff !important;
  background: #fff !important;
}

.btn-light:hover,
.btn-light:active,
.btn-light.active {
  background: rgba(0,0,0,0.4) !important;
}

/*************************************************
 *  Toolbar Buttons
 **************************************************/

.btn-toolbar .btn {
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border: none;
}

.btn-toolbar .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0 6px 6px 0;
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: {{ .Get "primary_dark" }} !important;
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: {{ .Get "primary_light" }} !important;
}

/*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
  background-color: transparent !important;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: {{ .Get "primary" }} !important;
  border-color: {{ .Get "primary" }} !important;
}

.btn-primary.btn-outline:focus {
  color: {{ .Get "primary" }} !important;
}

.btn-primary.btn-outline:active {
  color: #fff !important;
}

.btn-light.btn-outline {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-light.btn-outline:focus {
  color: #fff !important;
}

.btn-light.btn-outline:active {
  color: transparent !important;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-light.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff !important;
}

/*************************************************
 *  Navigation Bar
 **************************************************/

.navbar {
  min-height: 70px !important;
}

.navbar-default {
  background: {{ .Get "menu_primary" }};
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

nav#navbar-main li {
  font-size: {{ .Get "font_size_small" }}px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: {{ .Get "menu_text" }};
  font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus {
  color: {{ .Get "menu_text" }};
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: {{ .Get "menu_text_active" }};
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: {{ .Get "menu_text_active" }};
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.navbar-brand,
.navbar-nav li a {
  height: inherit;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: {{ .Get "menu_text" }} !important;
}

.dropdown-menu {
  background-color: {{ .Get "menu_primary" }} !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: {{ .Get "menu_text" }};
  white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: {{ .Get "menu_text_active" }};
  text-decoration: none;
  background-color: {{ .Get "menu_primary" }};
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: {{ .Get "menu_primary" }};
  text-decoration: none;
  background-color: {{ .Get "menu_text_active" }};
  outline: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:visited {
  color: {{ .Get "menu_text" }} !important;
  background-color: {{ .Get "menu_primary" }} !important;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: {{ .Get "menu_title" }};
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: {{ .Get "menu_title" }};
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .navbar {
    min-height: 50px !important;
  }

  .navbar-brand,
  .navbar-nav li a {
    height: inherit;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-brand img {
    max-height: 40px;
  }

  .navbar-header {
    float: none;
    min-height: inherit;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: {{ .Get "menu_text" }};
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
    line-height: 20px;
    color: {{ .Get "menu_text" }};
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: inherit;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: {{ .Get "menu_text_active" }};
    background-color: transparent;
  }

  .collapse.in {
    display: block !important;
  }
}

/*************************************************
 *  Tables
 **************************************************/

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 0.93rem;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.43;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

table > tbody + tbody {
  border-top: 2px solid #ddd;
}

table table {
  background-color: #fff;
}

/* Table Striped */
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Table Hover */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #e5e5e5;
}

/*************************************************
 *  Alerts
 **************************************************/

div.alert {
  border-radius: 10px;
  margin-bottom: 1rem;
}

div.alert p {
  position: relative;
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

div.alert p:first-child::before {
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  font-family: 'FontAwesome';
  font-size: 1.5rem;
  color: #fff;
  content: '\f05a';
  width: 1.5rem;
  text-align: center;
}

div.alert-warning p:first-child::before {
  content: '\f071';
}

div.alert a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  border-bottom: solid 1px #e4e4e4;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

div.alert a:hover {
  border-bottom-color: transparent;
  color: rgba(255,255,255,0.5) !important;
}

.alert-note {
  color: #fff;
  background-color: #03A9F4; /* Material LightBlue500 */
  border-color: #bce8f1;
}

.alert-warning {
  color: #fff;
  background-color: #f44336; /* Material Red500 */
  border-color: #ebccd1;
}


/*************************************************
 *  Dark themed components
 **************************************************/

body.dark {
  color: rgb(248, 248, 242);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: rgb(152, 166, 173);
}

.dark pre,
.dark code {
  color: rgb(139, 233, 253);
  background-color: rgb(68, 71, 90);

}

.dark pre {
  background-color: rgb(68, 71, 90);
  border-color: rgb(68, 71, 90);
}

.dark ul.share li a {
  background-color: {{ .Get "primary" }};
}

.dark table table {
  background-color: rgb(40, 42, 54);
}

/* Table Striped */
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: rgb(50, 52, 64);
}

/* Table Hover */
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: rgb(60, 62, 74);
}

.dark .article-title a {
  color: #fff;
}

.dark #profile .portrait-title h2 {
  color: #fff;
}

.dark #profile .portrait-title h3 {
  color: rgba(255, 255, 255, 0.54);
}

.dark ul.ul-edu li .description p.institution {
  color: rgba(255, 255, 255, 0.6);
}

.dark .pub-icon {
  color: rgba(255, 255, 255, 0.54);
}

.dark .talk-metadata {
  color: rgba(255, 255, 255, 0.54);
}

.dark .pager li > a, .pager li > span {
  background-color: rgb(40, 42, 54);
  border: 1px solid #ddd;
}

.dark .card {
  background: rgb(10, 12, 24);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
}

.dark .card h4 a {
  color: {{ .Get "primary" }};
  border-bottom: solid 1px transparent;
}

.dark .card .card-image.hover-overlay::before {
  background: #666;
}

.dark .card .card-image.hover-overlay::after {
  color: #fff;
}

.dark .navbar-default {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 255, 255, .11);
  border-color: #070707;
}

.dark select {
  background: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
}
